body {
  background: url("https://i.pinimg.com/originals/13/79/5e/13795e36a9b49b0b1add31c36d5180b8.gif")
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  text-align: center;
}

img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
